.home-layout {
  display: flex;
  .logo {
    display: flex;
    align-items: center;
    height: 64px;
    position: relative;
    transition: all 0.2s;
    // justify-content: center;
    .img {
      width: 40px;
      height: 40px;
      margin-right: 15px;
      .App-logo {
        // height: 40vmin;
        // pointer-events: none;
      }

      @media (prefers-reduced-motion: no-preference) {
        .App-logo {
          animation: App-logo-spin infinite 20s linear;
        }
      }
      @keyframes App-logo-spin {
        from {
          transform: rotate(0deg);
        }
        to {
          transform: rotate(360deg);
        }
      }
      img {
        width: 100%;
        height: 100%;
      }
    }
    .img-active {
      width: 40px;
      height: 40px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      .App-logo {
        // height: 40vmin;
        // pointer-events: none;
      }

      @media (prefers-reduced-motion: no-preference) {
        .App-logo {
          animation: App-logo-spin infinite 20s linear;
        }
      }
      @keyframes App-logo-spin {
        from {
          transform: rotate(0deg);
        }
        to {
          transform: rotate(360deg);
        }
      }
      img {
        width: 100%;
        height: 100%;
      }
    }
    .title {
      color: #fff;
      font-size: 18px;
      font-weight: 500;
    }
  }
  .site-layout {
    .site-layout-background {
      .wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 24px;
        padding-right: 24px;
        .user {
          display: flex;
          align-items: center;
          .username {
            margin-right: 15px;
            .name {
              font-size: 20px;
              &:hover {
                color: #1890ff;
              }
            }
          }
        }
      }
    }
  }

  .right-content {
    flex: 1;
  }
}
